html {
  background-color: #3b3b3b;
}

.App {
  text-align: center;
}
.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 150px;
  width: 165px;
  border-radius: 50%;
  border: 4px solid rgb(68, 68, 68);
}

.App-header {
  /* background-color: #222; */
  background-image: url("https://img1.etsystatic.com/199/0/11123188/il_fullxfull.1359797477_3oeb.jpg");
  background-size: contain;
  height: 210px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.8em;
  color: #fad000;
  line-height: 0%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  border: 1px solid black;
  background-color: rgb(59, 59, 59);
}

.queue {
  grid-column: 1;
  grid-row: 1;
  border: 1px solid black;
  /* background-color: rgb(158, 158, 158); */
  background-color: black;
}

.prog {
  grid-column: 2;
  grid-row: 1;
  border: 1px solid black;
  /* background-color: rgb(158, 158, 158); */
  background-color: black;
}

.done {
  grid-column: 3;
  grid-row: 1;
  border: 1px solid black;
  /* background-color: rgb(158, 158, 158); */
  background-color: black;
}

.colTitle {
  grid-row: 1;
  border: 1px solid black;
  background: #fad000;
  font: bold;
  font-size-adjust: 1.4;
}

.listBox {
  grid-row: 2;
}

.card {
  border: 4px solid yellow;
  border-radius: 25px;
  margin: 10px;
  text-align: left;
  background-color: #fff1b3;
}

.card:selection {
  background-color: #fad000;
}

.card:hover {
  background-color: #dfd19c;
}

.cardTitle {
  font-size-adjust: 1.1;
  font: bold;
}

.gradBar {
  height: 15px;
  width: 100vw;
}

#gradBar2 {
  grid-row: 2;
}

.formWrapper {
  display: grid;
}

#moveLeft {
  grid-column: 1;
  grid-row: 1;
  width: 33vw;
  height: 5vw;
}

#cardDisplay {
  grid-column: 2;
  grid-row: 1;
  border-left: 3px solid black;
  border-right: 3px solid black;
  width: 33vw;
  height: 5vw;
  background-color: #f9ff00;
}

#moveRight {
  grid-row: 1;
  grid-column: 3;
  width: 33vw;
  height: 5vw;
}

.arrow {
  background-color: white;
}

.arrow:hover {
  background-color: rgb(255, 213, 73);
}

#cardForm {
  color: white;
  grid-row: 3;
  /* border: 1px solid black; */
  width: 100vw;
}
